
nav {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background-color: #61dafb;
    align-items: center;
}

nav a {
    text-decoration: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.space {
    height: 50px;
}